Node Red Flows/iot sensor_flow.json
[{"id":"8a0fd488.4b14b8","type":"tab","label":"SAS-display","disabled":false,"info":""},{"id":"532dcf8f.b9be2","type":"ibmiot in","z":"8a0fd488.4b14b8","authentication":"apiKey","apiKey":"21ae50bc.4ad64","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"Smart_Agro_Device","applicationId":"","deviceType":"IOT_Device","eventType":"+","commandType":"","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["1d3df019.1909e","2a58b06d.7edfe","9043414e.bbf1c","ab7ec023.1f599","620b51b7.31077","123c4452.f174cc","95fad1a9.e64ff","31d48751.9eb338","ad56bebf.e3c3c","402fcfba.1b40a"]]},{"id":"edadc05.feb9b4","type":"debug","z":"8a0fd488.4b14b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":200,"wires":[]},{"id":"1d3df019.1909e","type":"function","z":"8a0fd488.4b14b8","name":"Temperature(iot simulator)","func":"msg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["edadc05.feb9b4","80ead3ef.fd747"]]},{"id":"2a58b06d.7edfe","type":"function","z":"8a0fd488.4b14b8","name":"Humidity(iot simulator)","func":"msg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["edadc05.feb9b4","7b1146a3.5751e8"]]},{"id":"9043414e.bbf1c","type":"function","z":"8a0fd488.4b14b8","name":"Soil moisture(iot simulator)","func":"msg.payload=msg.payload.Soil_moisture;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["edadc05.feb9b4","4555b9cb.329f38"]]},{"id":"ab7ec023.1f599","type":"function","z":"8a0fd488.4b14b8","name":"Soil pH(iot simulator)","func":"msg.payload=msg.payload.Soil_pH\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["edadc05.feb9b4","d8ec148d.b48288"]]},{"id":"123c4452.f174cc","type":"function","z":"8a0fd488.4b14b8","name":"humidity(iot sensor)","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["edadc05.feb9b4","3f3d1f19.68a64"]]},{"id":"620b51b7.31077","type":"function","z":"8a0fd488.4b14b8","name":"Soil moisture(iot sensor)","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["edadc05.feb9b4","3128afb9.3dd59"]]},{"id":"95fad1a9.e64ff","type":"function","z":"8a0fd488.4b14b8","name":"temperature(iot sensor)","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":40,"wires":[["edadc05.feb9b4","f534591.2decda8"]]},{"id":"80ead3ef.fd747","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"ed789285.c11f2","order":1,"width":6,"height":5,"gtype":"gage","title":"Temperature","label":"Degree Centigrades","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":240,"wires":[]},{"id":"3128afb9.3dd59","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"f064891a.5a8e38","order":1,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#3700ff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":160,"wires":[]},{"id":"f534591.2decda8","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"a451026f.52ebe","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#ec2b09","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":40,"wires":[]},{"id":"3f3d1f19.68a64","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"65859040.8c78a","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ffffff","#ffffff","#ca3838"],"seg1":"","seg2":"","x":780,"y":100,"wires":[]},{"id":"31d48751.9eb338","type":"function","z":"8a0fd488.4b14b8","name":"Nitrogen(iot simulator)","func":"msg.payload=msg.payload.Nitrogen;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["edadc05.feb9b4","526d0535.4acd9c"]]},{"id":"ad56bebf.e3c3c","type":"function","z":"8a0fd488.4b14b8","name":"Phosphorus(iot simulaotor)","func":"msg.payload=msg.payload.Phosphorus\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":540,"wires":[["edadc05.feb9b4","322e93eb.72dd5c"]]},{"id":"402fcfba.1b40a","type":"function","z":"8a0fd488.4b14b8","name":"Potassium(iot simulator)","func":"msg.payload=msg.payload.Potassium;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":600,"wires":[["edadc05.feb9b4","1d7f50fb.5c6cbf"]]},{"id":"526d0535.4acd9c","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"e059c3e8.1c4d6","order":1,"width":0,"height":0,"gtype":"wave","title":"Nitrogen","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":480,"wires":[]},{"id":"322e93eb.72dd5c","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"9bc2a87a.1d3998","order":1,"width":0,"height":0,"gtype":"wave","title":"Phosphorus","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":540,"wires":[]},{"id":"1d7f50fb.5c6cbf","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"bc9f338e.4c2cc","order":1,"width":0,"height":0,"gtype":"wave","title":"Potassium","label":"ppm","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":600,"wires":[]},{"id":"7b1146a3.5751e8","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"4a2c0202.6aee5c","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":300,"wires":[]},{"id":"4555b9cb.329f38","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"8cb3539.4cf1eb","order":1,"width":0,"height":0,"gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":360,"wires":[]},{"id":"d8ec148d.b48288","type":"ui_gauge","z":"8a0fd488.4b14b8","name":"","group":"ef82b15a.dbcb7","order":1,"width":0,"height":0,"gtype":"compass","title":"Soil pH","label":"","format":"{{value}}","min":"1","max":"14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":420,"wires":[]},{"id":"21ae50bc.4ad64","type":"ibmiot","z":"","name":"smart agriculture system","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ed789285.c11f2","type":"ui_group","z":"","name":"Weather parameter 1","tab":"e8c3ca5.04dda38","order":2,"disp":true,"width":"6","collapse":false},{"id":"f064891a.5a8e38","type":"ui_group","z":"","name":"Weather parameter 3","tab":"dd8ef72c.4c4eb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a451026f.52ebe","type":"ui_group","z":"","name":"Weather parameter 1","tab":"dd8ef72c.4c4eb8","order":4,"disp":true,"width":"6","collapse":false},{"id":"65859040.8c78a","type":"ui_group","z":"","name":"Weather parameter 2","tab":"dd8ef72c.4c4eb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"e059c3e8.1c4d6","type":"ui_group","z":"","name":"Soil Nutrient 1","tab":"e8c3ca5.04dda38","order":5,"disp":true,"width":"6","collapse":false},{"id":"9bc2a87a.1d3998","type":"ui_group","z":"","name":"Soil Nutrient 2","tab":"e8c3ca5.04dda38","order":6,"disp":true,"width":"6","collapse":false},{"id":"bc9f338e.4c2cc","type":"ui_group","z":"","name":"Soil Nutrient 3","tab":"e8c3ca5.04dda38","order":7,"disp":true,"width":"6","collapse":false},{"id":"4a2c0202.6aee5c","type":"ui_group","z":"","name":"Weather parameter 2","tab":"e8c3ca5.04dda38","order":2,"disp":true,"width":"6","collapse":false},{"id":"8cb3539.4cf1eb","type":"ui_group","z":"","name":"Weather parameter 3","tab":"e8c3ca5.04dda38","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef82b15a.dbcb7","type":"ui_group","z":"","name":"Weather parameter 4","tab":"e8c3ca5.04dda38","order":4,"disp":true,"width":"6","collapse":false},{"id":"e8c3ca5.04dda38","type":"ui_tab","z":"","name":"IOT Simulator","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dd8ef72c.4c4eb8","type":"ui_tab","z":"","name":"IOT Sensor","icon":"dashboard","order":4,"disabled":false,"hidden":false}]