Node Red Flows/UI_control&weatherapi_flow.json
[{"id":"e477860.3711478","type":"tab","label":"UI Control","disabled":false,"info":""},{"id":"95ab65e7.ed6608","type":"ibmiot out","z":"e477860.3711478","authentication":"apiKey","apiKey":"21ae50bc.4ad64","outputType":"cmd","deviceId":"Smart_Agro_Device","deviceType":"IOT_Device","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT motor output","service":"registered","x":500,"y":40,"wires":[]},{"id":"321e2707.7c5e58","type":"ui_button","z":"e477860.3711478","name":"","group":"5eb5b2fd.2af98c","order":0,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":180,"y":60,"wires":[["95ab65e7.ed6608","494eed70.344834","8916d7c1.977268"]]},{"id":"494eed70.344834","type":"debug","z":"e477860.3711478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":120,"wires":[]},{"id":"a13f5bf2.10e598","type":"ui_button","z":"e477860.3711478","name":"","group":"a32dcaaf.9648c8","order":0,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":180,"y":100,"wires":[["95ab65e7.ed6608","494eed70.344834","c0c101e4.51186"]]},{"id":"39463f0d.c7512","type":"ui_template","z":"e477860.3711478","group":"a7cab246.11b63","name":"home template","order":1,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperplay.com/walls/full/4/2/3/58008.jpg');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\nh1 {text-align: center;}\n</style>\n\n</head>\n<body >\n<h1>SMART AGRICULTURAL SYSTEM BASED ON IOT </h1>\n    \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":700,"y":620,"wires":[[]]},{"id":"cf1904ed.a268c8","type":"ui_template","z":"e477860.3711478","group":"ed789285.c11f2","name":"iot simulator template","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperplay.com/walls/full/7/f/d/57998.jpg#.XvBRr_OO-H8.link');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":620,"wires":[[]]},{"id":"65e5667f.c08308","type":"ui_template","z":"e477860.3711478","group":"5eb5b2fd.2af98c","name":"control ui template","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperplay.com/walls/full/7/f/d/57998.jpg#.XvBRr_OO-H8.link');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":620,"wires":[[]]},{"id":"6a230e9.c3a75f","type":"ibmiot out","z":"e477860.3711478","authentication":"apiKey","apiKey":"21ae50bc.4ad64","outputType":"cmd","deviceId":"Smart_Agro_Device","deviceType":"IOT_Device","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT light output","service":"registered","x":1150,"y":60,"wires":[]},{"id":"755409fd.a638e8","type":"ui_button","z":"e477860.3711478","name":"","group":"1a2df6fa.f3f059","order":0,"width":0,"height":0,"passthru":false,"label":"Light On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":800,"y":60,"wires":[["6a230e9.c3a75f","e9f050fb.254d7","6a203163.c00df"]]},{"id":"1a57a9c5.d67576","type":"ui_button","z":"e477860.3711478","name":"","group":"5cc63036.c9c75","order":0,"width":0,"height":0,"passthru":false,"label":"Light Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":800,"y":100,"wires":[["6a230e9.c3a75f","e9f050fb.254d7","aa2dfaec.6e65b8"]]},{"id":"e9f050fb.254d7","type":"debug","z":"e477860.3711478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":140,"wires":[]},{"id":"d02b60c8.eeba8","type":"http request","z":"e477860.3711478","name":"weather API","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=e1ac322a20b8055fb18bc0ab8ec7c67f","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":340,"wires":[["d985ddbc.6367c","4729c938.4729b8","87c6b222.073a6","1ee53ae5.26b055","bbe47713.e8d6d8"]]},{"id":"2d076d63.8d66e2","type":"inject","z":"e477860.3711478","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["d02b60c8.eeba8"]]},{"id":"d985ddbc.6367c","type":"function","z":"e477860.3711478","name":"weather type","func":"msg.payload=msg.payload.weather[0].description\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["e213f1f2.a0419","8268ad8e.d2b3"]]},{"id":"4729c938.4729b8","type":"function","z":"e477860.3711478","name":"Temperature","func":"msg.payload=msg.payload.main.temp_max-273.15;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["e213f1f2.a0419","ea777345.2c5e7","d898ac71.a62bf"]]},{"id":"87c6b222.073a6","type":"function","z":"e477860.3711478","name":"Pressure","func":"msg.payload=msg.payload.main.pressure/100;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":360,"wires":[["e213f1f2.a0419","8ef714a1.a03e68","fc732be3.7207f8"]]},{"id":"1ee53ae5.26b055","type":"function","z":"e477860.3711478","name":"Humidity","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["e213f1f2.a0419","fd91e8c2.e8e228","a4398ca9.78352"]]},{"id":"bbe47713.e8d6d8","type":"function","z":"e477860.3711478","name":"Wind speed","func":"msg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["e213f1f2.a0419","f30ce0a5.4706","d55af0fb.7a25a"]]},{"id":"e213f1f2.a0419","type":"debug","z":"e477860.3711478","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"fd91e8c2.e8e228","type":"ui_gauge","z":"e477860.3711478","name":"","group":"ffcd7e56.01816","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":480,"wires":[]},{"id":"f30ce0a5.4706","type":"ui_gauge","z":"e477860.3711478","name":"","group":"2377ad98.85e892","order":1,"width":0,"height":0,"gtype":"compass","title":"wind speed","label":"m/s","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":520,"wires":[]},{"id":"8ef714a1.a03e68","type":"ui_gauge","z":"e477860.3711478","name":"","group":"176e178f.09bbf8","order":1,"width":"6","height":"5","gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":420,"wires":[]},{"id":"ea777345.2c5e7","type":"ui_gauge","z":"e477860.3711478","name":"","group":"ce065215.d866c","order":1,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"Degree Centigrades","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":300,"wires":[]},{"id":"8268ad8e.d2b3","type":"ui_text","z":"e477860.3711478","group":"ac9d4604.9e5b28","order":0,"width":0,"height":0,"name":"","label":"Weather Type :","format":"{{msg.payload}}","layout":"row-center","x":800,"y":220,"wires":[]},{"id":"d898ac71.a62bf","type":"ui_chart","z":"e477860.3711478","name":"","group":"ce065215.d866c","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":260,"wires":[[]]},{"id":"fc732be3.7207f8","type":"ui_chart","z":"e477860.3711478","name":"","group":"176e178f.09bbf8","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":320,"wires":[[]]},{"id":"a4398ca9.78352","type":"ui_chart","z":"e477860.3711478","name":"","group":"ffcd7e56.01816","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":980,"y":380,"wires":[[]]},{"id":"d55af0fb.7a25a","type":"ui_chart","z":"e477860.3711478","name":"","group":"2377ad98.85e892","order":2,"width":0,"height":0,"label":"Wind speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":440,"wires":[[]]},{"id":"ea85ecbb.3ed9","type":"ui_template","z":"e477860.3711478","group":"65859040.8c78a","name":"iot sensor template","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://wallpaperplay.com/walls/full/7/f/d/57998.jpg#.XvBRr_OO-H8.link');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1230,"y":620,"wires":[[]]},{"id":"a3446b64.4e0258","type":"ui_template","z":"e477860.3711478","group":"ce065215.d866c","name":"Live weather template","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<head>\n    \n<style>\nbody {\n  background-image: url('https://i1.wp.com/livewallpaper.info//wp-content/uploads/2016/07/live-weather-wallpaper11.jpg?ssl=1');\n  background-repeat: no-repeat;\n  background-attachment: cover;\n  background-size: 100% 100%;\n  background-color:white;\n}\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":620,"wires":[[]]},{"id":"c0c101e4.51186","type":"ui_toast","z":"e477860.3711478","position":"dialog","displayTime":"1","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"The Motor is OFF","name":"motor off","x":200,"y":140,"wires":[["494eed70.344834"]]},{"id":"8916d7c1.977268","type":"ui_toast","z":"e477860.3711478","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"The Motor is ON","name":"motor on","x":200,"y":20,"wires":[[]]},{"id":"6a203163.c00df","type":"ui_toast","z":"e477860.3711478","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Light is ON","name":"light on","x":860,"y":20,"wires":[[]]},{"id":"aa2dfaec.6e65b8","type":"ui_toast","z":"e477860.3711478","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Light is OFF","name":"light off","x":820,"y":160,"wires":[[]]},{"id":"21ae50bc.4ad64","type":"ibmiot","z":"","name":"smart agriculture system","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"5eb5b2fd.2af98c","type":"ui_group","z":"","name":"Motor on","tab":"f6ed7e96.b7159","order":1,"disp":true,"width":"6","collapse":false},{"id":"a32dcaaf.9648c8","type":"ui_group","z":"","name":"Motor off","tab":"f6ed7e96.b7159","order":2,"disp":true,"width":"6","collapse":false},{"id":"a7cab246.11b63","type":"ui_group","z":"","name":"Welcome !","tab":"85305a3c.821da8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed789285.c11f2","type":"ui_group","z":"","name":"Weather parameter 1","tab":"e8c3ca5.04dda38","order":2,"disp":true,"width":"6","collapse":false},{"id":"1a2df6fa.f3f059","type":"ui_group","z":"","name":"Light on","tab":"f6ed7e96.b7159","order":4,"disp":true,"width":"6","collapse":false},{"id":"5cc63036.c9c75","type":"ui_group","z":"","name":"LIght off","tab":"f6ed7e96.b7159","order":5,"disp":true,"width":"6","collapse":false},{"id":"ffcd7e56.01816","type":"ui_group","z":"","name":"Live weather data 3","tab":"c3e504f3.81ff18","order":3,"disp":true,"width":"6","collapse":false},{"id":"2377ad98.85e892","type":"ui_group","z":"","name":"Live weather data 4","tab":"c3e504f3.81ff18","order":4,"disp":true,"width":"6","collapse":false},{"id":"176e178f.09bbf8","type":"ui_group","z":"","name":"Live weather data 2","tab":"c3e504f3.81ff18","order":2,"disp":true,"width":"6","collapse":false},{"id":"ce065215.d866c","type":"ui_group","z":"","name":"Live weather data 4","tab":"c3e504f3.81ff18","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac9d4604.9e5b28","type":"ui_group","z":"","name":"Open Weather data","tab":"c3e504f3.81ff18","order":5,"disp":true,"width":"6","collapse":false},{"id":"65859040.8c78a","type":"ui_group","z":"","name":"Weather parameter 2","tab":"dd8ef72c.4c4eb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6ed7e96.b7159","type":"ui_tab","z":"","name":"CONTROL UI","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"85305a3c.821da8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e8c3ca5.04dda38","type":"ui_tab","z":"","name":"IOT Simulator","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c3e504f3.81ff18","type":"ui_tab","z":"","name":"Live Weather Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dd8ef72c.4c4eb8","type":"ui_tab","z":"","name":"IOT Sensor","icon":"dashboard","order":4,"disabled":false,"hidden":false}]